@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '/node_modules/aos/dist/aos.css';
@import './components/fontawesome';
@import '/node_modules/magnific-popup/dist/magnific-popup.css';
@import './components/mobile';
@import '/node_modules/owl.carousel/dist/assets/owl.carousel.min.css';
@import '/node_modules/swiper/swiper-bundle.min.css';
@import './components/sidebar';
@import '/node_modules/slick-slider/slick/slick.css';
@import './components/select';
// @import '/node_modules/choices.js/public/assets/styles/choices.min.css';
@import '/node_modules/lightbox2/dist/css/lightbox.css';
@import 'layout';
@import 'theme';
@import 'components';