@use '../utils' as *;

/*============= HERO CSS AREA ===============*/
.hero1-section-area {
    position: relative;
    z-index: 1;
    min-height: 90vh;
    overflow: hidden;
    padding: 170px 0 0;
    .hero-header-area {
        @media #{$xs} {
            margin-bottom: 50px;
        }
        @media #{$md} {
            margin-bottom: 50px;
        }
        h5 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s24);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 24px;
            letter-spacing: 0.96px;
            text-transform: uppercase;
            @media #{$xs} {
                font-size: var(--ztc-font-size-font-s14);
                line-height: 16px;
            }
        }
        h1 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s80);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 80px;
            letter-spacing: -0.8px;
            text-transform: uppercase;
            @media #{$md} {
                font-size: var(--ztc-font-size-font-s70);
                line-height: 70px;
            }
            @media #{$xs} {
                font-size: var(--ztc-font-size-font-s40);
                line-height: 40px;
            }
            .elements1 {
                height: 70px;
                width: 70px;
                object-fit: contain;
                margin-top: -5px;
                @media #{$xs} {
                    display: none;
                }
            }
            .others-img1 {
                border-radius: 110px;
                border: 2px solid var(--Main-Color, #CEF12B);
                background: rgba(255, 255, 255, 0.10);
                padding: 10px 16px;
                width: 150px;
                margin-top: -16px;
                @media #{$xs} {
                    display: none;
                }
            }
        }
    }
    .imges-header {
        position: relative;
        z-index: 1;
        .img1 {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .arrow {
            position: absolute;
            top: 0;
            right: -30px;
            @media #{$xs} {
                right: 0;
            }
            a {
                background: rgba(255, 255, 255, 0.10);
                border-width: 5px;
                border: 5px solid #03060A;
                backdrop-filter: blur(75px);
                display: inline-block;
                border-radius: 50%;
                padding: 10px;
                .arrow1 {
                    position: absolute;
                    left: 38%;
                    top: 38%;
                }
            }
        }
    }
    .hero-bottom-images {
        position: relative;
        z-index: 1;
        .elements3 {
            position: absolute;
            z-index: 1;
            left: -25px;
            top: -40px;
            @media #{$xs} {
                display: none;
            }
            @media #{$md} {
                display: none;
            }
        }
        .img1 {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 16px;
                @media #{$xs} {
                    height: 300px;
                }
            }
        }
        .started-btn {
            position: absolute;
            top: 0;
            z-index: 2;
            right: 0;
            cursor: pointer;
            @media #{$xs} {
                bottom: 50px;
                right: 35px;
                top: inherit;
            }
            svg {
                position: absolute;
                z-index: -1;
                top: -50px;
                left: -40px;
            }
            a {
                span {
                    height: 50px;
                    width: 50px;
                    text-align: center;
                    line-height: 50px;
                    border-radius: 50%;
                    transition: all .4s;
                    color: var(--ztc-text-text-8);
                    display: inline-block;
                    transform: rotate(-45deg);
                    background: var(--ztc-text-text-4);
                }
                color: var(--ztc-text-text-4);
                text-align: center;
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s20);
                font-style: normal;
                font-weight: var(--ztc-weight-bold);
                line-height: 20.462px;
                display: block;
            }
        }
    }
}


// Slider area //
.slider1-section-area{
    overflow: hidden !important;
    .brand-single-box {
        display: inline-block;
      }
      .marquee-wrap {
        background-color: var(--ztc-text-text-8);
        width: 100%;
        position: relative;
        .marquee-text {
            animation: marquee 30s linear infinite;
            position: relative;
            width: 100%;
            white-space: nowrap;
            padding: 28px 0;
            @media #{$md} {
                animation: marquee 30s linear infinite;
            }
            @media #{$xs} {
                animation: marquee 30s linear infinite;
            }
            .brand-single-box {
                display: inline-block;
                h3{
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s28);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 28px;
                    text-transform: uppercase;
                    img{
                        margin: -10px 20px 0;
                    }
                }
            }
        }
      }
}

.slider2-section-area{
    overflow: hidden !important;
    .brand-single-box {
        display: inline-block;
      }
      .marquee-wrap {
        width: 100%;
        position: relative;
        .marquee-text {
            animation: marquee 30s linear infinite;
            position: relative;
            width: 100%;
            white-space: nowrap;
            @media #{$md} {
                animation: marquee 30s linear infinite;
            }
            @media #{$xs} {
                animation: marquee 30s linear infinite;
            }

            .brand-single-box {
                display: inline-block;
                margin: 0 20px 0 0;
                h3{
                    a {
                        color: var(--ztc-text-text-1);
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s24);
                        font-style: normal;
                        font-weight: var(--ztc-weight-bold);
                        line-height: 24px;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        border-radius: 120px;
                        background: rgba(255, 255, 255, 0.10);
                        padding: 10px 24px 10px 10px;
                        transition: all .4s;
                        &:hover {
                            background: var(--ztc-text-text-8);
                            color: var(--ztc-text-text-4);
                            transition: all .4s;
                            img {
                                visibility: hidden;
                                opacity: 0;
                                transition: all .4s;
                            }
                            span {
                                visibility: visible;
                                opacity: 1;
                                transition: all .4s;
                            }
                        }
                        img{
                            margin: 0 8px 0 0;
                            height: 60px;
                            width: 60px;
                            text-align: center;
                            border-radius: 50%;
                            visibility: visible;
                            opacity: 1;
                            transition: all .4s;
                        }
                        span {
                            height: 60px;
                            width: 60px;
                            text-align: center;
                            line-height: 60px;
                            display: inline-block;
                            transition: all .4s;
                            border-radius: 50%;
                            background: var(--ztc-text-text-4);
                            color: var(--ztc-text-text-8);
                            transform: rotate(-45deg);
                            position: absolute;
                            visibility: hidden;
                            opacity: 0;
                        }
                    }
                }
            }
        }
      }
}

.slider3-section-area{
    overflow: hidden !important;
    .brand-single-box {
        display: inline-block;
      }
      .marquee-wrap {
        background-color: var(--ztc-text-text-9);
        width: 100%;
        position: relative;
        .marquee-text {
            animation: marquee 30s linear infinite;
            position: relative;
            width: 100%;
            white-space: nowrap;
            padding: 28px 0;
            @media #{$md} {
                animation: marquee 30s linear infinite;
            }
            @media #{$xs} {
                animation: marquee 30s linear infinite;
            }
            .brand-single-box {
                display: inline-block;
                h3{
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s28);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 28px;
                    text-transform: uppercase;
                    img{
                        margin: -10px 20px 0;
                    }
                }
            }
        }
      }
}

.slider4-section-area{
    overflow: hidden;
    transform: rotate(4deg);
    .brand-single-box {
        display: inline-block;
      }
      .marquee-wrap {
        background: var(--ztc-bg-bg-10);
        width: 100%;
        position: relative;
        .marquee-text {
            animation: marquee 30s linear infinite;
            position: relative;
            width: 100%;
            white-space: nowrap;
            padding: 28px 0;
            @media #{$md} {
                animation: marquee 30s linear infinite;
            }
            @media #{$xs} {
                animation: marquee 30s linear infinite;
            }
            .brand-single-box {
                display: inline-block;
                h3{
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s28);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 28px;
                    text-transform: uppercase;
                    img{
                        margin: -10px 20px 0;
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
      }
}

.slider5-section-area{
    overflow: hidden !important;
    .brand-single-box {
        display: inline-block;
      }
      .marquee-wrap {
        width: 100%;
        position: relative;
        .marquee-text {
            animation: marquee 30s linear infinite;
            position: relative;
            width: 100%;
            white-space: nowrap;
            @media #{$md} {
                animation: marquee 30s linear infinite;
            }
            @media #{$xs} {
                animation: marquee 30s linear infinite;
            }

            .brand-single-box {
                display: inline-block;
                margin: 0 20px 0 0;
                h3{
                    a {
                        color: var(--ztc-text-text-1);
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s24);
                        font-style: normal;
                        font-weight: var(--ztc-weight-bold);
                        line-height: 24px;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        border-radius: 120px;
                        background: rgba(255, 255, 255, 0.10);
                        padding: 10px 24px 10px 10px;
                        transition: all .4s;
                        &:hover {
                            background: var(--ztc-text-text-11);
                            color: var(--ztc-text-text-1);
                            transition: all .4s;
                            img {
                                visibility: hidden;
                                opacity: 0;
                                transition: all .4s;
                            }
                            span {
                                visibility: visible;
                                opacity: 1;
                                transition: all .4s;
                            }
                        }
                        img{
                            margin: 0 8px 0 0;
                            height: 60px;
                            width: 60px;
                            text-align: center;
                            border-radius: 50%;
                            visibility: visible;
                            opacity: 1;
                            transition: all .4s;
                        }
                        span {
                            height: 60px;
                            width: 60px;
                            text-align: center;
                            line-height: 60px;
                            display: inline-block;
                            transition: all .4s;
                            border-radius: 50%;
                            background: var(--ztc-text-text-1);
                            color: var(--ztc-text-text-11);
                            transform: rotate(-45deg);
                            position: absolute;
                            visibility: hidden;
                            opacity: 0;
                        }
                    }
                }
            }
        }
      }
}

.slider6-section-area{
    overflow: hidden !important;
    .brand-single-box {
        display: inline-block;
      }
      .marquee-wrap {
        background: var(--ztc-bg-bg-10);
        width: 100%;
        position: relative;
        .marquee-text {
            animation: marquee 30s linear infinite;
            position: relative;
            width: 100%;
            white-space: nowrap;
            padding: 28px 0;
            @media #{$md} {
                animation: marquee 30s linear infinite;
            }
            @media #{$xs} {
                animation: marquee 30s linear infinite;
            }
            .brand-single-box {
                display: inline-block;
                h3{
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s28);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 28px;
                    text-transform: uppercase;
                    img{
                        margin: -10px 20px 0;
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
      }
}
// Inner Pages //
.inner-section-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 130px 0 0;
    .hero-header-area {
        @media #{$xs} {
            margin-bottom: 50px;
            text-align: center;
        }
        @media #{$md} {
            margin-bottom: 50px;
            text-align: center;
        }
        h4 {
            a {
                color: var(--ztc-text-text-1);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s32);
                font-style: normal;
                font-weight: var(--ztc-weight-bold);
                line-height: 32px;
                letter-spacing: 0.96px;
                text-transform: uppercase;
                @media #{$xs} {
                    line-height: 32px;
                    font-size: var(--ztc-font-size-font-s20);
                }
            }
            i {
                color: var(--ztc-text-text-1);
                font-size: var(--ztc-font-size-font-s32);
                font-style: normal;
                font-weight: var(--ztc-weight-bold);
                line-height: 32px;
                letter-spacing: 0.96px;
                text-transform: uppercase;
                margin: 0 6px;
                @media #{$xs} {
                    line-height: 32px;
                    font-size: var(--ztc-font-size-font-s20);
                }
            }
        }
        h1 {
            color: var(--ztc-text-text-1);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s80);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 80px;
            letter-spacing: -0.8px;
            text-transform: uppercase;
            @media #{$md} {
                font-size: var(--ztc-font-size-font-s70);
                line-height: 70px;
            }
            @media #{$xs} {
                font-size: var(--ztc-font-size-font-s50);
                line-height: 40px;
            }
            .elements1 {
                height: 70px;
                width: 70px;
                object-fit: contain;
                margin-top: -5px;
                @media #{$xs} {
                    display: none;
                }
            }
            .others-img1 {
                border-radius: 110px;
                border: 2px solid var(--Main-Color, #CEF12B);
                background: rgba(255, 255, 255, 0.10);
                padding: 10px 16px;
                width: 150px;
                margin-top: -16px;
                @media #{$xs} {
                    display: none;
                }
            }
        }
    }
    .imges-header {
        position: relative;
        z-index: 1;
        .img1 {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .arrow {
            position: absolute;
            top: 0;
            right: -30px;
            @media #{$xs} {
                right: 0;
            }
            a {
                background: rgba(255, 255, 255, 0.10);
                border-width: 5px;
                border: 5px solid #03060A;
                backdrop-filter: blur(75px);
                display: inline-block;
                border-radius: 50%;
                padding: 10px;
                .arrow1 {
                    position: absolute;
                    left: 38%;
                    top: 38%;
                }
            }
        }
    }
}
/*============= HERO CSS AREA ===============*/
